.title-sponsor-heading{
    margin: 10px;
}

.title-sponsor-div{
    display: flex;
    align-items: center;
    padding: auto;
    border: 3px solid black;
    margin: 10px;
    flex-wrap: wrap;
}

.title-sponsor-div img{
    width: 500px;
    height: auto;
    margin-right: 20px;
}

.title-sponsor-div h2{
    color: black;
    font-size: 50px;
    padding-left: 50px;
}

@media (max-width: 768px) {

    .title-sponsor-div img{
        max-width: 100%;
        height: auto;
    }

    .title-sponsor-div {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .title-sponsor-div h2 {
      font-size: 30px; 
      padding-left: 125px;
      margin-top: 10px; 
    }
  }